<h3>Cart</h3>
<div class="order-window" *ngIf="cartList.length > 0; else empty_cart">
    <table>
        <tr>
          <th>Product</th>
          <th>Image</th>
          <th>+</th>
          <th>Quantity</th>
          <th>-</th>
          <th>Unit Price</th>
          <th>Price</th>
          <th>Discount(%)</th>
          <th>Discounted Price</th>
          <th>Remove</th>
        </tr>
        <tr *ngFor="let c of cartProdList">
          <td>{{c.p_name}}</td>
          <td><img src={{c.image_id}} alt="Product Image" width="50" height="50"></td>
          <td><button type="button" (click)="addQuantity(c.cartId,c.quantity)">+</button></td>
          <td>{{c.quantity}}</td>
          <td><button type="button" (click)="subQuantity(c.cartId,c.quantity)">-</button></td>
          <td>${{c.p_price.toFixed(2)}}</td>
          <td>${{c.t_price.toFixed(2)}}</td>
          <td><div *ngIf="c.discount > 0; else na">{{c.discount.toFixed(2)}}</div></td>
          <td>${{c.d_price.toFixed(2)}}</td>
          <td><button type="button" (click)="removeCart(c.cartId)">Remove</button></td>
        </tr>
    </table>
    <p>Total: ${{totalPrice.toFixed(2)}}</p>
    <button type="button" (click)="buildOrderList()">Order</button>
</div>

<ng-template #na>N/A</ng-template>
<ng-template #empty_cart><h1>Cart is Empty</h1></ng-template>