<!DOCTYPE html>
<html>
<head>
    <script src="https://accounts.google.com/gsi/client" async></script>
    <script src="sign-up-with-google.js"></script>
    <meta charset="UTF-8">
    <title>Sign up with Google</title>
    <!-- Other metadata and resources (e.g., CSS and JavaScript references) can go here -->
</head>
<body>
    <!-- The content of your web page goes here -->
    <h1>Sign up with Google</h1>
    <h2 id="signUpSuccess"></h2>
    <div id="g_id_onload"
    data-client_id="881208941092-vk15t1dg16cmglp0o7hbns7i9l75ou2c.apps.googleusercontent.com"
    data-context="signup"
    data-ux_mode="popup"
    data-callback="signUpWithGoogle"
    data-auto_prompt="false">
</div>

<div class="g_id_signin"
    data-type="standard"
    data-shape="rectangular"
    data-theme="filled_blue"
    data-text="signup_with"
    data-size="large"
    data-logo_alignment="left">
</div>

</body>
</html>