.top-bar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
    border-bottom-style: solid;
    border-bottom-color:skyblue;
    border-bottom-width: 5px;
    margin-bottom: 5px;
}