.frame{
    border-top-style: solid;
    border-bottom-style: solid;
    border-top-width:10px;
    border-bottom-width: 10px;
    border-top-color: skyblue;
    border-bottom-color: skyblue;
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: baseline;
    align-content: space-evenly;
}