table,th,tr,td{
    border-style: double;
}
td, label{
    padding-right: 5px;
}
.form-field{
    display: flex;
    flex-direction: row;
    align-items: baseline;
    align-content: flex-start;
}
.add-user-window,.update-user-window,.delete-user-window,.add-product-window,.update-product-window,
.view-product-window,.stock-window,.update-stock-window,.display-orders-window,.add-discount-window{
    border-color:gray;
    border-style:solid;
    border-width: 5px;
    border-radius: 5px;
    margin: 3px;
    padding: 2px;
}