<app-profile></app-profile>
<h2>Admin Features</h2>
<h3>Manage Users</h3>
<div class="add-user-window">
    <h4>Add User</h4>
    <form #uf1="ngForm" (ngSubmit)="addUser(uf1)">
        <div class="form-field">
            <label for="name">Name</label>
            <input type="text" required name="name" [(ngModel)]="uf1.value.name" #name = 'ngModel'/>
            <div *ngIf = "!name.valid" class="error">
            <p *ngIf="name.errors?.['required']">
              Name is required
            </p>
          </div>
        </div>
        <div class="form-field">
          <label for="admin">Admin</label>
          <select required name="admin" [(ngModel)]="uf1.value.admin">
            <option value="True">True</option>
            <option value="False">False</option>
          </select>
        </div>
        <div class="form-field">
            <label for="email">Email</label>
            <input type="text" required email name="email" [(ngModel)]="uf1.value.email" #email='ngModel'/>
            <div *ngIf = "!email.valid" class="error">
            <p *ngIf="email.errors?.['required']">
              Email is required
            </p>
            <p *ngIf="email.errors?.['email']">
              Need valid email
            </p>
          </div>
        </div>
        <div class="form-field">
            <label for="imageId">Image ID</label>
            <input type="text" required name="imageId" [(ngModel)]="uf1.value.imageId" #imageId = 'ngModel'/>
            <div *ngIf = "!imageId.valid" class="error">
            <p *ngIf="imageId.errors?.['required']">
              Image Id is required
            </p>
          </div>
        </div>
        <p>
            <button type = "submit">Submit</button>
        </p>
    </form>
</div>
<div class="update-user-window">
    <h4>Update User</h4>
    <form #uf2="ngForm" (ngSubmit)="updateUser(uf2)">
        <div class="form-field">
            <label for="id">ID</label>
            <input type="number" name="id" min=0 required [(ngModel)]="uf2.value.id">
        </div>
        <div class="form-field">
            <label for="name">Name</label>
            <input type="text" required name="name" [(ngModel)]="uf2.value.name" #uf2name = 'ngModel'/>
            <div *ngIf = "!uf2name.valid" class="error">
            <p *ngIf="uf2name.errors?.['required']">
              Name is required
            </p>
          </div>
        </div>
        <div class="form-field">
          <label for="admin">Admin</label>
          <select required name="admin" [(ngModel)]="uf2.value.admin">
            <option value="True">True</option>
            <option value="False">False</option>
          </select>
        </div>
        <div class="form-field">
            <label for="email">Email</label>
            <input type="text" required email name="email" [(ngModel)]="uf2.value.email" #uf2email='ngModel'/>
            <div *ngIf = "!uf2email.valid" class="error">
            <p *ngIf="uf2email.errors?.['required']">
              Email is required
            </p>
            <p *ngIf="uf2email.errors?.['email']">
              Need valid email
            </p>
          </div>
        </div>
        <div class="form-field">
            <label for="imageId">Image ID</label>
            <input type="text" required name="imageId" [(ngModel)]="uf2.value.imageId" #uf2imageId = 'ngModel'/>
            <div *ngIf = "!uf2imageId.valid" class="error">
            <p *ngIf="uf2imageId.errors?.['required']">
              Image Id is required
            </p>
          </div>
        </div>
        <p>
            <button type = "submit">Submit</button>
        </p>
    </form>
</div>
<div class="delete-user-window">
    <table>
        <tr>
          <th>Delete</th>
          <th>Name</th>
          <th>Admin Status</th>
          <th>Email</th>
          <th>Balance</th>
          <th>Profile Picture</th>
        </tr>
        <tr *ngFor="let u of userList">
          <td><button type="button" (click)="deleteUser(u.id)">{{u.id}}</button></td>
          <td>{{u.name}}</td>
          <td>{{u.admin}}</td>
          <td>{{u.email}}</td>
          <td>{{u.balance}}</td>
          <td>{{u.pic}}</td>
        </tr>
    </table>
</div>
<h3>Manage Products</h3>
<div class="add-product-window">
    <h4>Add Product</h4>
    <form #pf1="ngForm" (ngSubmit)="addProduct(pf1)">
        <div class="form-field">
            <label for="name">Name</label>
            <input type="text" required name="name" [(ngModel)]="pf1.value.name" #pf1name = 'ngModel'/>
            <div *ngIf = "!pf1name.valid" class="error">
            <p *ngIf="pf1name.errors?.['required']">
              Name is required
            </p>
          </div>
        </div>
        <div class="form-field">
            <label for="imageId">Image ID</label>
            <input type="text" required name="imageId" [(ngModel)]="pf1.value.imageId" #pf1imageId = 'ngModel'/>
            <div *ngIf = "!pf1imageId.valid" class="error">
            <p *ngIf="pf1imageId.errors?.['required']">
              Image Id is required
            </p>
          </div>
        </div>
        <div class="form-field">
            <label for="price">Price</label>
            <input type="number" name="price" step=0.01 min=0 required [(ngModel)]="pf1.value.price">
        </div>
        <div class="form-field">
            <label for="description">Description</label>
            <input type="text" required name="description" [(ngModel)]="pf1.value.description" #pf1description = 'ngModel'/>
            <div *ngIf = "!pf1description.valid" class="error">
            <p *ngIf="pf1description.errors?.['required']">
              Description is required
            </p>
          </div>
        </div>
        <p>
            <button type = "submit">Submit</button>
        </p>
    </form>
</div>
<div class="update-product-window">
    <h4>Update Product</h4>
    <form #pf2="ngForm" (ngSubmit)="updateProduct(pf2)">
        <div class="form-field">
            <label for="id">ID</label>
            <input type="number" name="id" min=0 required [(ngModel)]="pf2.value.id">
        </div>
        <div class="form-field">
            <label for="name">Name</label>
            <input type="text" required name="name" [(ngModel)]="pf2.value.name" #pf2name = 'ngModel'/>
            <div *ngIf = "!pf2name.valid" class="error">
            <p *ngIf="pf2name.errors?.['required']">
              Name is required
            </p>
          </div>
        </div>
        <div class="form-field">
            <label for="imageId">Image ID</label>
            <input type="text" required name="imageId" [(ngModel)]="pf2.value.imageId" #pf2imageId = 'ngModel'/>
            <div *ngIf = "!pf2imageId.valid" class="error">
            <p *ngIf="pf2imageId.errors?.['required']">
              Image Id is required
            </p>
          </div>
        </div>
        <div class="form-field">
            <label for="price">Price</label>
            <input type="number" name="price" step=0.01 min=0 required [(ngModel)]="pf2.value.price">
        </div>
        <div class="form-field">
            <label for="description">Description</label>
            <input type="text" required name="description" [(ngModel)]="pf2.value.description" #pf2description = 'ngModel'/>
            <div *ngIf = "!pf2description.valid" class="error">
            <p *ngIf="pf2description.errors?.['required']">
              Description is required
            </p>
          </div>
        </div>
        <p>
            <button type = "submit">Submit</button>
        </p>
    </form>
</div>
<div class="view-product-window">
    <table>
        <tr>
          <th>Id</th>
          <th>Name</th>
          <th>Image</th>
          <th>Price</th>
          <th>Description</th>
        </tr>
        <tr *ngFor="let p of prodList">
          <td>{{p.p_id}}</td>
          <td>{{p.p_name}}</td>
          <td><img src={{p.image_id}} alt="Product Image" width="50" height="50"></td>
          <td>{{p.p_price}}</td>
          <td>{{p.p_description}}</td>
        </tr>
    </table>
</div>
<h3>Manage Stock</h3>
<div class="stock-window">
  <h4>Add Stock</h4>
    <form #sf2="ngForm" (ngSubmit)="displayStock(sf2)">
        <div class="form-field">
            <label for="id">ID</label>
            <input type="number" name="id" min=0 required [(ngModel)]="sf2.value.id">
        </div>
        <p>
            <button type = "submit">Submit</button>
        </p>
    </form>
    <table>
        <tr>
          <th>Product ID</th>
          <th>Quantity</th>
        </tr>
        <tr>
          <td>{{s.pId}}</td>
          <td>{{s.sQuantity}}</td>
        </tr>
    </table>
</div>
<div class="update-stock-window">
    <h4>Add Stock</h4>
    <form #sf1="ngForm" (ngSubmit)="updateStock(sf1)">
        <div class="form-field">
            <label for="id">ID</label>
            <input type="number" name="id" min=0 required [(ngModel)]="sf1.value.id">
        </div>
        <div class="form-field">
            <label for="amount">Amount</label>
            <input type="number" name="amount" min=0 required [(ngModel)]="sf1.value.amount">
        </div>
        <p>
            <button type = "submit">Submit</button>
        </p>
    </form>
</div>
<h3>Manage Orders</h3>
<div class="display-orders-window">
    <h4>Order Report</h4>
    <form #of="ngForm" (ngSubmit)="getOrders(of)">
        <div class="form-field">
            <label for="startDate">Start Date</label>
            <input type="date" name="startDate" [(ngModel)]="of.value.startDate" placeholder="yyyy-MM-dd" required />
        </div>
        <div class="form-field">
          <label for="endDate">End Date</label>
          <input type="date" name="endDate" [(ngModel)]="of.value.endDate" placeholder="yyyy-MM-dd" required />
        </div>
        <p>
            <button type = "submit">Submit</button>
        </p>
    </form>
    <table>
        <tr>
          <th>Order ID</th>
          <th>User ID</th>
          <th>Product ID</th>
          <th>Quantity</th>
          <th>Date</th>
          <th>Price</th>
          <th>Discount ID</th>
        </tr>
        <tr *ngFor="let o of ordersList">
          <td>{{o.oId}}</td>
          <td>{{o.uId}}</td>
          <td>{{o.pId}}</td>
          <td>{{o.oQuantity}}</td>
          <td>{{o.oDate}}</td>
          <td>{{o.oPrice}}</td>
          <td>{{o.dId}}</td>
        </tr>
    </table>
</div>
<div class="add-discount-window">
    <h4>Issue Discount</h4>
    <form #df="ngForm" (ngSubmit)="issueDiscount(df)">
        <div class="form-field">
            <label for="pId">Product ID</label>
            <input type="number" name="pId" min=0 required [(ngModel)]="df.value.pId">
        </div>
        <div class="form-field">
            <label for="uId">User ID</label>
            <input type="number" name="uId" min=0 required [(ngModel)]="df.value.uId">
        </div>
        <div class="form-field">
            <label for="discount">Discount(%)</label>
            <input type="number" name="discount" min=0 max=1 step=0.01 required [(ngModel)]="df.value.discount">
        </div>
        <p>
            <button type = "submit">Submit</button>
        </p>
    </form>
</div>