<div class="product-window">
    <div class="product-image">
        <img src={{imageId}} alt="Product Image" width="50" height="50">
    </div>
    <div class="product-details">
        <h3>
            {{pName}}
        </h3>
        <div class="bottom-tag">
            <p>
                {{pDescription}}
            </p>
            <img src="https://www.clker.com/cliparts/r/m/6/9/M/B/shopping-cart-logo-1-size-512-512.svg.hi.png" alt="CI" (click)="addToCart()" class="cart-icon" width="20" height="20">
        </div>
    </div>
</div>