<div class="product-window">
    <div class="product-image">
        <img src={{imageId}} alt="Product Image" width="50" height="50">
    </div>
    <div class="product-details">
        <h3>
            {{pName}}
        </h3>
        <div class="bottom-tag">
            <p>
                {{pDescription}}
            </p>
            <button type="button" (click)="addToCart()" class="cart-icon">
                <img src="Cart Icon" alt="CI" width="5" height="5">
            </button>
        </div>
    </div>
</div>