.info{
    display: flex;
    flex-direction: row;
    justify-content:flex-end;
    align-content: space-evenly;
    align-items: center;
    padding-left: 10px;
}
.child{
    display: flex;
    align-items: center;
    padding-left: 10px;
}